<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sss136.askunread</string>
			<key>key</key>
			<string>hidechange</string>
			<key>label</key>
			<string>Hide Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Button size(width,height,location.X)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>120</real>
			<key>defaults</key>
			<string>com.sss136.askunread</string>
			<key>key</key>
			<string>sizer1</string>
			<key>validValues</key>
			<array>
				<real>1</real>
				<real>2</real>
				<real>3</real>
			</array>
			<key>validTitles</key>
			<array>
				<string>Small</string>
				<string>Middle</string>
				<string>Original</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>com.sss136.askunread/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>120</string>
			<key>defaults</key>
			<string>com.sss136.askunread</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>changesize1</string>
			<key>max</key>
			<string>200</string>
			<key>min</key>
			<string>60</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>30</string>
			<key>defaults</key>
			<string>com.sss136.askunread</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>changesizeh1</string>
			<key>max</key>
			<string>100</string>
			<key>min</key>
			<string>10</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>30</string>
			<key>defaults</key>
			<string>com.sss136.askunread</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>changesizel1</string>
			<key>max</key>
			<string>350</string>
			<key>min</key>
			<string>0</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Border Line</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sss136.askunread</string>
			<key>key</key>
			<string>hideborder1</string>
			<key>label</key>
			<string>Hide Border Line</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sss136.askunread</string>
			<key>key</key>
			<string>color1</string>
			<key>label</key>
			<string>Border Line Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>PostNotification</key>
				<string> com.sss136.askunread.prefsChanged</string>
				<key>alpha</key>
				<true/>
				<key>defaults</key>
				<string>com.sss136.askunread</string>
				<key>fallback</key>
				<string>A369FF</string>
				<key>key</key>
				<string>changecolor</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sss136.askunread</string>
			<key>key</key>
			<string>textcolor1</string>
			<key>label</key>
			<string>Button Text Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>PostNotification</key>
				<string> com.sss136.askunread.prefsChanged</string>
				<key>alpha</key>
				<true/>
				<key>defaults</key>
				<string>com.sss136.askunread</string>
				<key>fallback</key>
				<string>A369FF</string>
				<key>key</key>
				<string>changebuttoncolor</string>
			</dict>
		</dict>

	</array>
	<key>title</key>
	<string>Change Mode Button</string>
</dict>
</plist>